
.feed {
    width: 30rem;
    margin: 30px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.feed__titulo {
    margin-bottom: 2rem;
    font-size: x-large;
    font-weight: bold;
}

.feed__ver-mais {
    font-weight: bold;
    cursor: pointer;
}

.feed__ver-mais:hover {
    color: royalblue;
}